GOOGLE_SERVICE_ACCOUNT="base64 encoded service account"
SPREADSHEET_ID=""
DATA_RANGE="Sheet1!A2:H"
CORS_ALLOWED_ORIGIN="http://localhost"
SERVER_PORT=3000
RR_SPREADSHEET_ID=""
RR_SHEET_ID="Sheet1"
RR_DATA_RANGE="A2:H"